.preferences {
  display: grid !important;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content max-content;
  grid-template-areas:
    "a1 a1"
    "a2 a3";
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: flex-start;
}
.myData {
  display: grid !important;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  grid-template-areas:
    "a1 a1"
    "a2 a2"
    "a3 a4"
    "a5 a6";
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: flex-start;
}
.credentials {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 1rem;
}
