.container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: calc(100% - 2rem);
  min-height: calc(100% - 2rem);
  height: max-content;
  padding: 1rem;
  margin: 0px;
  gap: 2rem;
  > h1 {
    color: var(--text-color-primary);
    font-size: 1.5rem;
    font-weight: lighter;
    width: 100%;
    height: max-content;
    padding: 0px;
    margin: 0px;
  }
  > section {
    width: calc(100% - 1rem);
    height: max-content;
    padding: 1rem;
    gap: 1rem;
    > h2 {
      color: var(--text-color-primary);
      opacity: 0.9;
      font-weight: 100;
    }
    &[name="CONFIGURATION"] {
      display: grid;
      grid-template-areas:
        "title          title         title         title"
        "labelDarkMode  inputDarkMode labelLaguage  inputLanguage";
      grid-template-columns: max-content 1fr max-content 1fr;
      grid-template-rows: repeat(2, max-content);
      align-items: center;
      > h2 {
        grid-area: title;
      }
      > label[for="darkMode"] {
        grid-area: labelDarkMode;
      }
      > label[for="language"] {
        grid-area: labelLaguage;
      }
      > input#darkMode {
        grid-area: inputDarkMode;
      }
      > select#language {
        grid-area: inputLanguage;
      }
    }
    &[name="ACCES_ACCOUNTS"] {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      > section {
        border: 1px solid var(--border-color-input);
        padding: 1rem;
        border-radius: var(--border-radius);
        width: calc(100% - 2rem);

        > h3 {
          opacity: 0.9;
          font-weight: 100;
        }
        &[name="USERNAME_AND_PASSWORD"] {
          display: grid;
          grid-template-areas: "title title" "labelUsername inputUsername" "labelPassword inputPassword";
          grid-template-columns: max-content 1fr;
          grid-template-rows: repeat(2, max-content);
          gap: 0.5rem;
          > h3 {
            grid-area: title;
          }
          > label[for="username"] {
            grid-area: labelUsername;
          }
          > label[for="password"] {
            grid-area: labelPassword;
          }
          > input[name="username"] {
            border: none;
            grid-area: inputUsername;
            background-color: transparent;
          }
          > input[name="password"] {
            border: none !important;
            grid-area: inputPassword;
            background-color: transparent;
          }
        }
        &[name="GOOGLE"] {
          display: grid;
          grid-template-areas: "title title" "usrImage googleDisplayName" "usrImage googleEmail";
          grid-template-rows: repeat(3, max-content);
          grid-template-columns: 4rem 1fr;
          gap: 0.5rem;
          > h3 {
            grid-area: title;
          }
          > img {
            grid-area: usrImage;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            object-position: center;
          }
          > input {
            border: none;
          }
          > input[name="googleDisplayName"] {
            grid-area: googleDisplayName;
            background-color: transparent;
          }
          > input[name="googleEmail"] {
            grid-area: googleEmail;
            background-color: transparent;
          }
        }
      }
    }
  }
}
