.rootUnsortedList {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: max-content;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: none;
  pointer-events: none;
  background-color: var(--background-color-card);
  align-self: flex-start;
}

.rootUnsortedList li {
  width: 10rem;
  height: max-content;
}
.rootUnsortedList li[data-state="CLOSED"] > ul {
  display: none;
  visibility: hidden;
}
.rootUnsortedList button {
  width: 100%;
  height: max-content;
  border: none !important;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  pointer-events: all;
  padding-left: 0.5rem;
  gap: 0.5rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}
.rootUnsortedList button > img[name="optionIcon"] {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: scale-down;
  object-position: center;
}
.rootUnsortedList button > img[name="stateIcon"] {
  width: 1rem;
  height: 1rem;
  object-fit: scale-down;
  object-position: center;
  opacity: 0.5;
}
.rootUnsortedList button > label {
  width: max-content;
  height: max-content;
  padding: 0.5rem 0rem;
  margin: 0px;
  pointer-events: none;
}
.rootUnsortedList .logo {
  width: max-content;
  height: 4.5rem;
  object-fit: scale-down;
  object-position: center;
  padding: 0rem 1rem 0.5rem 1rem;
}

ul.rootUnsortedList > li > ul > li {
  background-color: var(--background-color-sidebar-sublist);
}
ul.rootUnsortedList button {
  padding-left: 1rem;
}
ul.rootUnsortedList button > div {
  width: 0.1rem;
  height: 100%;
  position: absolute;
  top: 0px;
  left: calc(100% - 0.1rem);
  background-color: var(--button-primary-background-color);
  pointer-events: none;
}
.username {
  max-width: 8rem;
  width: calc(100% - 1rem);
  text-align: center;
  padding: 0rem 0rem 0rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  opacity: 0.5;
}
