.form {
  width: 27rem;
  min-height: 26rem;
  height: max-content;
  padding: 1rem;
  margin: 0rem;
  display: grid;
  grid-template-areas:
    "imagesContainer imagesContainer"
    "title title"
    "usernameLabel usernameInput"
    "passwordLabel passwordInput"
    "serverLabel serverInput"
    "databaseLabel databaseInput"
    "loginResponse loginResponse"
    "loginButton loginButton"
    "secondaryButtons secondaryButtons"
    "orSeparator orSeparator"
    "googleButton googleButton";
  gap: 1rem;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(11, max-content);
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  align-self: center;
  margin-top: 5rem;

  > h1 {
    grid-area: title;
    width: 100%;
    height: max-content;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
  }
  > label {
    font-size: 0.9rem;
    font-weight: lighter;
    &[for="username"] {
      grid-area: usernameLabel;
    }
    &[for="password"] {
      grid-area: passwordLabel;
    }
    &[for="server"] {
      grid-area: serverLabel;
    }
    &[for="database"] {
      grid-area: databaseLabel;
    }
  }
  > div[name="orSeparator"] {
    grid-area: orSeparator;
    height: max-content;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    > span {
      color: grey;
    }
  }
  > select {
    &#server {
      grid-area: serverInput;
    }
    &#database {
      grid-area: databaseInput;
    }
  }
  > input {
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: normal;
    &#username {
      grid-area: usernameInput;
    }
    &#password {
      grid-area: passwordInput;
    }
    &.missing {
      border: 1px solid var(--border-color-input-error);
    }
  }
  > button {
    &[name="login"] {
      grid-area: loginButton;
    }
    &[name="signup"] {
      grid-area: signupButton;
    }
    &[name="forgot"] {
      grid-area: forgotButton;
      justify-self: start;
    }
    &[name="google"] {
      grid-area: googleButton;
    }
  }
  > .secondaryButtons {
    grid-area: secondaryButtons;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
    width: 100%;
  }
  > span[name="loginResponse"] {
    grid-area: loginResponse;
    width: 100%;
    height: max-content;
    background-color: transparent;
    color: red;
  }
}
.form .primaryButton {
  width: 100%;
  height: max-content;
  font-size: 1.2rem;
  font-weight: normal;
  background-color: var(--button-primary-background-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.56rem;
  &:hover {
    background-color: var(--button-primary-background-color-hover);
  }
}
.form .secondaryButton {
  background-color: transparent;
  width: max-content;
  height: max-content;
  color: var(--text-color-secondary);
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: lighter;
  justify-self: end;
  text-decoration: underline;
  padding: 0px;
  &:hover {
    color: var(--text-color-secondary-hover);
  }
}

.form .loader {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: max-content;
  position: absolute;
  margin-top: 5rem;
}
.form .imagesContainer {
  grid-area: imagesContainer;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  > img {
    width: 10rem;
    max-width: 50%;
    height: 100%;
    object-fit: scale-down;
    object-position: center;
  }
}

.form .line {
  height: max-content;
  border-top: 1px solid grey;
  width: 100%;
}
.form .text {
  width: max-content;
  height: max-content;
  padding: 0.5rem;
}

@media (max-width: 500px) {
  .form {
    width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
    height: 100%;
    padding: 1rem;
    margin: 0rem;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.4rem;

    overflow: auto;
    min-height: max-content;
    > input,
    select,
    button {
      width: 100%;
    }
    > input,
    select {
      font-size: 1.1rem;
      font-weight: lighter;
      padding: 0.5rem;
    }
  }
}
