.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  padding: 1rem;
  margin: 0rem;
  gap: 1rem;
  min-width: 20rem;
  > span[name="loginResponse"] {
    width: 100%;
    height: max-content;
    background-color: transparent;
    color: red;
  }
}

.floatBackground {
  position: fixed;
  top: 61vh;
  left: 18vw;
  height: 35vh;
  width: 61vw;
  object-fit: scale-down;
  object-position: center;
}

@media (max-width: 600px) {
  .container {
    width: 100% !important;
    height: 100%;
    margin-top: 0px !important;
  }
}
@media (max-height: 750px) {
  .floatBackground {
    display: none;
  }
}
