.userAndPasswordCard {
  border: 1px solid var(--border-color-input);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  width: calc(100% - 1rem);
  display: grid !important;
  grid-template-areas:
    "a1 a1"
    "a2 a3"
    "a4 a5"
    "a6 a7";
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: max-content 1fr;
  row-gap: 0.2rem;
  column-gap: 1.5rem;
}
